body {
  margin: 0;
}

#chats {
  width: 30%;
  box-shadow: 3px 0 5px -2px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  background-color: var(--white);
  z-index: 2;
}
#interactive {
  width: 80%;
  background-color: var(--white);
}
a {
  text-decoration: none;
}
.main-container {
  display: flex;
  height: calc(100vh - 105.5px);
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 105.5px);
}
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}
.received {
  background: #e6e6e6b2;
}
.sent {
  background: var(--pink);
  margin-left: auto;
}
.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.time {
  font-size: var(--tiny);
  color: var(--darkPink);
  font-weight: 600;
  margin-left: auto;
}
.chat-form {
  display: flex;
  gap: 10px;
  margin-top: auto;
}
.chat-form textarea {
  flex: 1;
  padding: 10px;
  resize: none;
}
textarea {
  border-radius: 2rem;
  margin-left: 10%;
  border: 0.3rem solid var(--pink);
  height: 1.5rem; /* Set a fixed height */
  line-height: 1.5rem; /* Match line-height to the height */
}
textarea::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pink);
  font-family: "Outfit";
  opacity: 0.75;
  height: 100%;
  margin-left: 1rem !important;
  font-size: var(--little);
}
#user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--pink);
}
#user-panel .left {
  display: flex;
  align-items: center;
}
#user-panel .right a {
  color: var(--white);
}
#user-panel .left h2 {
  color: var(--white);
  font-weight: 500;
}
#user-panel img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 10px;
}

.matches-list h3 {
  color: var(--darkPink);
  padding-left: 1rem;
  font-size: var(--small);
}
.matches-list hr {
  color: var(--pink);
  border: 0.1rem solid var(--pink);
}
.match h4 {
  font-size: var(--small);
}
.match a {
  color: var(--pink);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.match img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-left: 1rem;
}
.chat-header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.match.selected {
  background: linear-gradient(to right, var(--darkPink) 10px, transparent 10px);
}
.tabs{
  text-align: center;
  margin: 1rem auto 1rem auto;
}
.tabs a {
  color: var(--pink);
  font-size: var(--small);
  margin-right: 1rem;
}
.active {
  color: var(--darkPink) !important;
  font-weight: 600;
  overflow-y: hidden;
}
#sendbutton {
  margin-right: 10%;
  padding: 0;
  border-radius: 100%;
  background-color: var(--white);
  height: 3.5rem;
  display: flex;
  align-items: center;
}
#sendbutton:hover {
  transition: 0.2s;
  background-color: var(--pink);
}
#sendbutton:hover i {
  color: var(--white);
}
.swipe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
#sendbutton i {
  font-size: var(--big);
  color: var(--pink);
}
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.placeholder p {
  color: var(--pink);
  font-size: var(--medium);
  text-align: center;
  margin: 0;
  font-weight: 600;
}
#iconp {
  margin: 0;
  font-size: 5rem;
  color: var(--pink);
}
#desc {
  font-size: var(--small);
  margin-top: 1rem;
  color: var(--darkPink);
}
#info {
  margin: 80% auto 0 auto;
  font-size: var(--medium);
  text-align: center;
  color: var(--darkPink);
  font-weight: 600;
  width: 80%;
}
#info i {
  font-size: 5rem;
}
.card {
  text-align: center;
  width: 30rem;
  height: 29rem;
}
.card img {
  border-radius: 1rem;
  width: 70%;
}
.card h3 {
  color: var(--pink);
  font-size: var(--medium);
  margin-bottom: 0 !important;
}
.lovebutton i {
  font-size: var(--big);
  color: var(--pink);
}
.swipe-form {
  display: flex;
  gap: 1rem;
}
.lovebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  background-color: var(--white);
  border: 0.3rem solid var(--pink);
}
.lovebutton:hover {
  transition: 0.2s;
  background-color: var(--pink);
}
.lovebutton:hover i {
  transition: 0.2s;
  color: var(--white);
}
